h1 {
    color: rgb(0, 197, 187);
}
body {
    background-color: rgb(230, 230, 230);
    color: rgb(34, 34, 34);
}
header {
    background-color: rgb(212, 255, 246);
    color: black;
}

#navbar img{
    width: 50px;
}



footer {
    text-align: center;
}